body {
    background-color: #ffe4c4;
}

.box {
    background:rgb(232, 201, 236);
    width: 500px;
    height: 500px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box1 {
    background: green;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    padding: 25px;
    text-align: center;
    border-radius: 40%;
}

.src {
    display: flex;
    justify-content: center;
    align-items: center;
}